body {
  font: 12px 'Microsoft Yahei', Tahoma, Simsun;
}

.car {
  width: 1200px;
  margin: 50px auto 0;
}

.car-top {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.car-top>.top-left {
  display: flex;
  align-items: center;
}

.car-top>.top-left>img {
  width: 127px;
}

.car-top>.top-left>h2 {
  margin-left: 10px;
  font-weight: normal;
  font-size: 22px;
  line-height: 60px;
}

.search {
  border: 2px solid #459d36;
  width: 325px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
}

.search>input {
  padding: 2px 0;
  width: 260px;
  border: none;
  outline: none;
  padding: 0 5px;
  height: 28px;
}

.search>button {
  border: none;
  outline: none;
  background: #459d36;
  display: block;
  width: 50px;
  color: #fff;
}

.search>button:hover {
  color: #daf5d9;
  cursor: pointer;
}

#car-menu {
  position: relative;
  margin-top: 30px;
  border-bottom: 2px #ddd solid;
}

#car-menu>.nav-current {
  transition: all .3s;
  position: absolute;
  bottom: -2px;
  height: 6px;
  border-bottom: 2px solid #ff6000;
  width: 176px;
  left: 0px;
  overflow: hidden;
  text-align: center;
}

#car-menu>.nav-current>.arrow {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
}

#car-menu>.nav-current>.arrow>i {
  border-style: dotted solid solid solid;
  border-color: transparent transparent #ff6000 transparent;
  border-width: 5px;
  font-size: 0;
  line-height: 0;
}

.car-menu {
  display: flex;
  padding-bottom: 10px;
}

.car-menu>li {
  font-size: 16px;
  border-right: 1px solid #e8e8e8;
  padding: 0 30px;
  color: #3c3c3c;
  position: relative;
  cursor: pointer;
  display: flex;
}

.car-menu>li:hover {
  color: #ff6000;
}

.car-menu>li>span {
  background: url('../images/newtips.png') no-repeat 0 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.car-menu>li>em {
  margin-left: 5px;
  color: #ff6000;
}

.fct {
  text-align: center;
}

.null-shopcart {
  background: url('../images/null-cart.png') no-repeat;
  padding-left: 155px;
  padding-top: 30px;
  margin: 100px 0;
  display: inline-block;
  font-family: "Microsoft Yahei", tahoma, arial;
}

.null-shopcart>h2 {
  color: #999;
  font-size: 30px;
  font-weight: normal;
}

.null-shopcart>.btn {
  text-align: left;
  margin-top: 5px;
}

.null-shopcart>.btn>a {
  text-decoration: none;
  color: #444;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  background: #4bad07;
  border: 1px solid #55a71e;
  border-radius: 3px;
  padding-right: 20px;
  vertical-align: middle;
  display: inline-block;
}

.null-shopcart>.btn>a>span {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background-position: 0 -355px;
  padding-left: 20px;
  color: #FFF;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  empty-cells: show;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.middle {
  vertical-align: middle;
}

td {
  padding: 10px;
  background: #fcfcfc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.img {
  width: 87px;
  height: 87px;
  float: left;
  border: 1px solid #e8e8e8;
}

.txt {
  float: left;
  margin-top: 30px;
  width: 310px;
  margin-left: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #cacbcb;
  display: inline-block;
}

.btn button {
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fff;
}

.btn input {
  text-align: center;
  padding: 0;
  border: 0;
  border-right: 1px solid #cacbcb;
  border-left: 1px solid #cacbcb;
  width: 43px;
  height: 20px;
}

.btn~p {
  color: #333;
  margin: 3px 0;
}

.img img {
  width: 80px;
  height: 80px;
}

tr {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.title {
  text-align: left;
  padding-left: 5px;
}

.title span {
  border-radius: 3px;
  padding: 3px 6px 4px 23px;
  background: url('../images/fh-ico.png') no-repeat 0 -55px #6acd34;
  margin-left: 15px;
}

.none {
  border: none;
}

.none td {
  border: none;
}

.price {
  font-weight: 700;
  font-size: 14px;
}

.balance {
  width: 1200px;
  margin: 0 auto;
  height: 62px;
  line-height: 62px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.all-right strong,.all-right>span{
  font-size: 18px;
  color: #e61212;
}
.all-right button{
  margin-left: 10px;
  height: 60px;
  border: none;
  outline: none;
  font-size: 18px;
  width: 213px;
  display: inline-block;
  background: #b1b1b1;
  border-radius: 5px;
  color: #fff;
}