#home-top {
    width: 1200px;
    margin: 0 auto;
    height: 29px;
    line-height: 29px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    .color3 {
        &:hover {
            color: #248dcc;
        }
    }
    .left {
        display: flex;
        .home-xfz {
            width: 58.6px;
            height: 28px;
            text-align: right;
            line-height: 28px;
            color: rgb(68, 68, 68);
            background: url(../images/home-s01.png) no-repeat;
            background-position: 0 8px;
        }
        .site {
            color: #000;
            margin: 0 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &:hover .jiantou {
                background: url(../images/home-s02.jpg) 0 -45px no-repeat;
            }
            &:hover .site-show {
                display: block;
            }
            #site {
                color: #666;
            }
            .jiantou {
                display: block;
                width: 20px;
                height: 15px;
                background: url(../images/home-s02.jpg) 0 -31px no-repeat;
                margin-top: 3px;
                // ../images/background/xqico.png) 0 -31px no-repeat;
            }

            .site-show {
                width: 412px;
                height: 296px;
                font-size: 12px;
                color: #888;
                padding: 5px 5px 15px;
                background-color: #fff;
                border: 1px solid #ddd;
                position: absolute;
                left: 28px;
                top: 28px;
                z-index: 999;
                display: none;
                .top {
                    width: 400px;
                    height: 26px;
                    border-bottom: 1px solid #ddd;
                    display: flex;
                    > p {
                        width: 75px;
                        height: 25px;
                        border: 1px solid #ddd;
                        border-bottom: 1px solid transparent;
                        margin-left: 5px;
                        text-align: center;
                        line-height: 25px;
                        overflow: hidden;
                        // margin-bottom: 1px;
                    }
                }
                .content {
                    width: 400px;
                    display: flex;
                    flex-wrap: wrap;
                    > li {
                        padding: 3px 10px;
                        &:hover {
                            background-color: #fb6003;
                            color: rgb(248, 248, 248);
                        }
                    }
                }
            }
        }
        .p1 {
            background: url(../images/home-s03.png) no-repeat;
            background-position: -9px -425px;
            color: #666;
            text-indent: 20px;
            &:hover {
                color: #ff8500;
            }
        }
    }
    .right {
        display: flex;
        color: #444;
        li {
            margin: 0 7px;
            position: relative;
        }
        .news {
            background: url(../images/homegif01.gif) no-repeat;
            background-position: 0px 5px;
            text-indent: 24px;
            &:hover .news-show {
                display: block;
            }
            .news-show {
                display: none;
                position: absolute;
                top: 28px;
                left: -15px;
                width: 310px;
                height: 168px;
                padding: 5px 10px;
                color: #444;
                box-shadow: 3px 3px 4px #777;
                background-color: #fff;
                .item {
                    width: 288px;
                    height: 61px;
                    padding: 5px 10px;
                    border-bottom: 1px solid #ddd;
                    //   padding: 10px 0;
                    .list {
                        height: 25px;
                        .text {
                            margin-right: 120px;
                            color: #333;
                            font-weight: 600;
                            &:hover {
                                color: #0a91c9;
                            }
                        }
                        .time {
                            margin: 0 5px;
                        }
                    }
                }
                .more {
                    a {
                        color: #0a91c9;
                    }
                    text-align: center;
                    text-decoration: underline;
                }
            }
        }
        .shopping {
            text-indent: 25px;
            display: flex;
            // justify-content: flex-start;
            .iconf-car {
                display: block;
                width: 20px;
                height: 28px;
                background: url(../images/home-s03.png) no-repeat;
                background-position: -291px -38px;
            }
            .num4 {
                color: #ff0000;
                position: absolute;
                left: 35px;
                top: 0px;
            }
        }
        .mypet {
            display: flex;
            position: relative;
            // padding: 0 15px;

            &:hover .ciala {
                transform: rotate(180deg);
                transform-origin: center;
            }
            &:hover .mypet-text {
                color: #0a91c9;
            }
            &:hover .mypet-show {
                display: block;
            }
            .ifon-tou {
                width: 15px;
                display: block;
                height: 28px;
                background: url(../images/home-s03.png);
                background-position: -314px -39px;
                background-repeat: no-repeat;
            }
            .ciala {
                // display: block;
                // width: 0;
                // height: 0;
                // border: transparent solid 4px;
                // border-top: #717171 solid 4px;
                // position: absolute;
                // right: 0;
                // top: 12px;
                // overflow: hidden;
                transition: all 0.3s;
            }
            .mypet-show {
                display: none;
                background-color: #fff;
                width: 102px;
                height: 111px;
                padding: 5px 10px;
                position: absolute;
                top: 28px;
                left: 0;
                box-shadow: 3px 3px 4px #777;
                .item {
                    width: 80px;
                    height: 14px;
                    margin: 5px;
                    padding: 0 5px;
                    list-style: block;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    &:hover {
                        color: #0a91c9;
                    }
                    span {
                        background-color: #333;
                        width: 4px;
                        display: block;
                        height: 4px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .collect {
            display: flex;
            position: relative;
            // padding: 0 15px;

            &:hover .ciala {
                transform: rotate(180deg);
            }
            &:hover .collect-show {
                display: block;
            }
            .collect-show {
                width: 102px;
                height: 35px;
                padding: 5px 10px;
                background-color: #fff;
                box-shadow: 3px 3px 4px #777;
                position: absolute;
                top: 28px;
                left: 0;
                display: none;
                z-index: 99;
                p {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    span {
                        width: 4px;
                        height: 4px;
                        background-color: rgb(82, 82, 82);
                        display: block;
                        margin-right: 5px;
                    }
                }
            }
            .ifon-tou {
                width: 15px;
                display: block;
                height: 28px;
                background: url(../images/home-s03.png);
                background-position: -355px -39px;
                background-repeat: no-repeat;
            }
            .ciala {
                transition: all 0.3s;
            }
        }
        .phone {
            text-indent: 24px;
            display: flex;
            &:hover .phone-show {
                display: block;
            }
            span {
                width: 15px;
                display: block;
                height: 28px;
                background: url(../images/home-s03.png) no-repeat;
                background-position: -335px -39px;
            }
            .phone-show {
                position: absolute;
                top: 28px;
                left: -10px;
                display: none;
                z-index: 10;
                img {
                    width: 80px;
                    height: 80px;
                    display: block;
                    margin: 3px;
                }
            }
        }
        .problem {
            color: #ff0000;
        }
    }
}
.home-top-header {
    width: 100%;
    height: 169px;
    .np-nav {
        width: 100%;
        height: 29px;
        border-bottom: 1px solid rgb(214, 214, 214);
    }
    .home-top-login {
        width: 1200px;
        height: 94px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #666;
        .left {
            width: 268px;
            img {
                height: 94px;
                display: block;
            }
        }
        .center {
            width: 498px;
            height: 71px;
            margin: 23px 0 0 33px;
            color: #999;
            .input-text {
                width: 479px;
                height: 38px;
                border: #459d36 solid 2px;
                display: flex;
                justify-content: space-between;
                input {
                    padding: 0 5px 0 15px;
                    width: 406px;
                    height: 34px;
                    outline: none;
                    border: none;
                }
                .serch {
                    width: 73px;
                    height: 34px;
                    text-align: center;
                    line-height: 34px;
                    color: #fff;
                    background-color: #459d36;
                }
            }
            .hold-text {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 10px 0;
                width: 498px;
                height: 17px;
                .er {
                    color: #ff0000;
                }
                .inr {
                    margin: 10px;
                }
            }
        }
        .right {
            display: flex;
            width: 130px;
            height: 39px;
            margin-top: 23px;
            position: relative;
            // img{

            // }
            .car {
                position: absolute;
                left: 45px;
                top: 11px;
                span {
                    color: #ff0000;
                }
            }
        }
    }
    .heaer-ce {
        width: 35px;
        height: 937px;
        position: fixed;
        right: 0;
        background-color: #444;
        top: 0;
        font-size: 12px;
        margin-bottom: 10px;
        > div {
            position: relative;
        }
        .bcadk {
            &:hover {
                background-color: #555;
            }
        }
        .dog {
            width: 35px;
            height: 35px;
            margin: 156px 0 26px 0;
            color: #444;
            background: url(../images/home-cebianlan.png) no-repeat;
            background-position: 0 -235px;
            &:hover {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 0 -235px;
            }
            &:hover .dog-down {
                display: block;
            }
            .dog-down {
                width: 325px;
                height: 148px;
                font-size: 12px;
                background-color: #fff;
                padding: 0 10px 10px 21px;
                position: absolute;
                top: 0;
                right: 35px;
                border: 1px solid #ccc;
                display: none;
                .item {
                    color: #000;
                    margin: 2px 5px 0;
                    padding: 17px 14px 14px 0;
                    height: 84px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid #000;
                        margin-right: 15px;
                    }
                }
                .item2 {
                    color: #000;
                    margin: 2px 5px 0;
                    padding: 17px 14px 14px 0;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-top: 1px dashed #e5e5e5;
                    border-bottom: 1px dashed #e5e5e5;
                    &:hover {
                        color: #0a91c9;
                    }
                    img {
                        border: 1px solid #000;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 15px;
                    }
                }
            }
        }
        .car-show {
            padding: 5px 0 10px 0;
            &:hover .car {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 0 -270px;
            }
            &:hover .text {
                color: #fff;
            }
            &:hover .numa {
                background-color: #fff;
            }
            &:hover .car-down {
                display: block;
            }
            .car {
                width: 35px;
                height: 35px;
                margin: 5px 0;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: 0 -270px;
            }
            .text {
                width: 19px;
                height: 68px;
                margin: 0 8px;
                color: #a6a6a6;
                text-align: center;
            }
            .numa {
                width: 20px;
                height: 20px;
                color: #444;
                background-color: #a6a6a6;
                border-radius: 50%;
                text-align: center;
                line-height: 20px;
            }
            .car-down {
                width: 510px;
                height: 81px;
                padding: 25px 15px 15px;
                font-size: 14px;
                color: rgb(12, 12, 12);
                font-weight: 600;
                text-align: center;
                background-color: #fff;
                position: absolute;
                top: 0;
                right: 35px;
                border-top: 1px solid #ddd;
                border: 1px solid #ddd;
                z-index: 99;
                display: none;
                transition: all 0.3s;
            }
        }
        .kefu-show {
            margin: 25px 0 10px 0;
            height: 124px;
            &:hover .kefutou {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 2px -617px;
            }
            &:hover .text {
                color: #fff;
            }
            &:hover .numa {
                background-color: #fff;
            }
            .kefutou {
                width: 35px;
                height: 35px;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: 2px -617px;
            }
            .text {
                width: 19px;
                height: 68px;
                margin: 0 8px;
                color: #a6a6a6;
                text-align: center;
            }
            .numa {
                width: 20px;
                height: 20px;
                color: #444;
                background-color: #a6a6a6;
                border-radius: 50%;
                text-align: center;
                line-height: 20px;
            }
        }
        .text-show {
            margin: 25px 0 0px 0;
            &:hover .text-down {
                opacity: 10;
                right: 35px;
            }
            &:hover .text {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 0 -305px;
            }
            .text {
                width: 35px;
                height: 35px;
                // margin: 5px 0;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: 0 -305px;
            }
            .text-down {
                width: 100px;
                height: 35px;
                background-color: #ffa200;
                color: #fff;
                position: absolute;
                right: 75px;
                line-height: 35px;
                text-align: center;
                top: 0;
                opacity: 0;
                transition: all 0.5s;
                .san {
                    width: 0px;
                    height: 0;
                    border: 4px solid transparent;
                    border-left: 4px solid #ffa200;
                    position: absolute;
                    right: -8px;
                    top: 45%;
                }
            }
        }
        .xing-show {
            &:hover .xing-down {
                display: block;
            }
            &:hover .xing {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: -1px -693px;
            }
            .xing {
                width: 35px;
                height: 35px;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: -1px -693px;
            }
            .xing-down {
                background-color: #fff;
                width: 482px;
                height: 352px;
                text-align: center;
                line-height: 352px;
                position: absolute;
                right: 35px;
                top: -200px;
                color: rgb(46, 46, 46);
                border: 1px #ccc solid;
                transition: all 0.3s;
                display: none;
            }
        }
        .phone-show {
            margin-top: 175px;
            &:hover .phone-down {
                display: block;
            }
            &:hover .phone {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 0 -410px;
            }
            .phone {
                width: 35px;
                height: 35px;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: 0 -410px;
            }
            .phone-down {
                width: 187px;
                height: 231px;
                position: absolute;
                top: -188px;
                right: 35px;
                display: none;
            }
        }
        .wecar-show {
            &:hover .wecar-down {
                display: block;
            }
            &:hover .wecar {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 0 -720px;
            }
            .wecar {
                width: 35px;
                height: 35px;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: 0 -720px;
            }
            .wecar-down {
                width: 190px;
                height: 230px;
                position: absolute;
                right: 35px;
                top: -195px;
                display: none;
            }
        }
        .weibo-show {
            &:hover .weibo {
                background: url(../images/home-cebianlangaoliang.png) no-repeat;
                background-position: 0 -753px;
            }
            &:hover .webo-down {
                display: block;
            }
            .weibo {
                width: 35px;
                height: 35px;
                color: #444;
                background: url(../images/home-cebianlan.png) no-repeat;
                background-position: 0 -753px;
            }
            .webo-down {
                width: 190px;
                height: 131px;
                position: absolute;
                right: 35px;
                top: -96px;
                display: none;
            }
        }
    }
    .nav-bar {
        padding-top: 10px;
        width: 1200px;
        height: 44px;
        display: flex;
        font-size: 16px;
        color: #000;
        margin: 0 auto;
        .left {
            width: 228px;
            height: 34px;
            display: flex;
            position: relative;
            .xialia {
                &:hover .item-show1 {
                    display: block;
                }
                .item-show1 {
                    display: none;
                    width: 226px;
                    height: 360px;
                    background-color: #fff;
                    position: absolute;
                    top: 35px;
                    left: 0;
                    font-size: 12px;
                    z-index: 9;
                    .fasdfkajf {
                        &:hover .imgw {
                            left: -27px;
                            opacity: 1;
                            transition: all 0.5s;
                        }
                    }
                    .dnaidf {
                        #btnc {
                            color: #e74085;
                            border: 1px solid #e74085;
                            &:hover {
                                background-color: #e74085;
                                color: #fff;
                            }
                        }
                        .imgw {
                            position: absolute;
                            left: 0;
                            top: 180px;
                        }
                        &:hover .imgw {
                            left: -27px;
                            opacity: 1;
                            transition: all 0.5s;
                        }
                    }
                    .list {
                        width: 226px;
                        height: 180px;
                        position: relative;
                        z-index: 99;
                        transition: all 0.3s;
                        background-color: #fafafa;
                        padding-top: 30px;
                        .img {
                            width: 60px;
                            height: 60px;
                            background: url(../images/home-03.png) no-repeat;
                            background-position: 0 -180px;
                            margin: 0 auto;
                        }
                        .text {
                            width: 114px;
                            height: 38px;
                            padding-bottom: 4px;
                            text-align: center;
                            line-height: 38px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            .num {
                                color: #f03e3e;
                                display: block;
                            }
                            color: #333;
                        }
                        .but {
                            width: 110px;
                            height: 30px;
                            color: #aeaeae;
                            background-color: #ebebeb;
                            border: 1px solid #aeaeae;
                            border-radius: 3px;
                            margin: 0 auto;
                            text-align: center;
                            line-height: 30px;
                        }
                    }
                    .imgw {
                        position: absolute;
                        left: 0;
                        top: 0;
                        // visibility: hidden;
                        transition: all 0.5s;
                        z-index: -1;
                    }
                }
            }
            .big-xia {
                &:hover .item-big {
                    display: block;
                }
                .item-big {
                    position: absolute;
                    top: 35px;
                    width: 227px;
                    z-index: 100;
                    background-color: #fff;
                    left: 0;
                    font-size: 14px;
                    color: #444;
                    // border: 1px solid #62a727;
                    display: none;
                    .list {
                        width: 225px;
                        height: 52px;
                        padding-left: 16px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        background-color: rgb(255, 255, 255);
                        &:hover .list-show-g {
                            display: block;
                        }
                        &:hover {
                            border-top: 1px solid #62a727;
                            border-bottom: 1px solid #62a727;
                            width: 226px;
                        }
                        .list-show-g {
                            display: none;
                            width: 570px;
                            height: 399px;
                            background-color: #fff;
                            border: 1px solid #62a727;
                            font-size: 12px;
                            color: #000;
                            position: absolute;
                            top: 0px;
                            left: 225px;
                            padding: 10px;
                            z-index: -1;
                            .top {
                                width: 550px;
                                height: 35px;
                                padding-left: 10px;
                                display: flex;
                                img {
                                    width: 35px;
                                }
                                .text {
                                    font-size: 16px;
                                    color: #444;
                                    margin-left: 10px;
                                }
                            }
                            .s-nbs {
                                .s-nbs-con {
                                    display: flex;
                                    .text {
                                        margin-right: 10px;
                                        margin-left: 50px;
                                    }
                                    img {
                                        width: 25px;
                                        height: 25px;
                                        margin-right: 10px;
                                    }
                                    .isfalse {
                                        width: 390px;
                                        height: 30px;
                                        display: flex;
                                        span {
                                            display: block;
                                            margin: 0 7px;
                                            color: #444;
                                            &:hover {
                                                color: #248dcc;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        #npm-d {
                            width: 774px;
                            height: 454px;
                            padding: 10px 8px 0;

                            .img-d {
                                display: flex;
                                flex-wrap: wrap;
                                img {
                                    width: 364px;
                                    height: 172px;
                                    display: block;
                                    margin: 5px;
                                }
                            }
                            .text-d {
                                margin: 25px auto;
                            }
                        }
                        span {
                            display: block;
                        }
                        .span1,
                        .span2 {
                            width: 88px;
                            height: 50px;
                            text-align: center;
                            line-height: 50px;
                            &:hover {
                                color: #248dcc;
                            }
                        }
                        .icon {
                            font-size: 15px;
                            color: rgb(167, 167, 167);
                        }
                    }
                    .img99 {
                        margin-right: 5px;
                    }
                    .text {
                        color: #22990d;
                    }
                    .num {
                        width: 34px;
                        height: 20px;
                        background-color: #fb6003;
                        color: #fff;
                        border-radius: 8px;
                        text-align: center;
                        line-height: 20px;
                        margin-left: 5px;
                    }
                }
            }
            .item {
                width: 114px;
                height: 34px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 255, 255);
                border-color: rgb(225, 225, 225);
                border: 1px solid #e1e1e1;
                line-height: 34px;
                margin: 0 auto;
                color: #444;

                &:hover {
                    background-color: #46ab50;
                    color: #fff;
                    height: 36px;
                }
                &:hover .bar-n {
                    transform: rotate(180deg);
                    background: url(../images/home-bar-01.png) no-repeat;
                    background-position: 0 -1257px;
                }
                .bar-n {
                    width: 16px;
                    height: 13px;
                    display: block;
                    background: url(../images/home-bar-01.png) no-repeat;
                    background-position: -17px -1257px;
                    margin-left: 5px;
                    transition: all 0.2s;
                }
            }
        }
        .cent {
            display: flex;
            height: 34px;
            .list {
                padding: 0 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: 600;
                &:hover {
                    color: #459d36;
                }
                &:hover .list-n {
                    transform: rotate(360deg);
                }
                .list-n {
                    display: block;
                    width: 13px;
                    height: 17px;
                    background: url(../images/home-bar-01.png) no-repeat;
                    background-position: -35px -1280px;
                    margin-right: 5px;
                    transition: all 0.5s;
                }
            }
        }
    }
}
.contet {
    height: 500px;
    width: 100%;
    background-color: saddlebrown;
}
footer {
    width: 100%;
    height: 450px;
    .big-nav {
        width: 100%;
        height: 450px;
        margin: 0 auto;
        background-color: #fff;
        .wrap {
            width: 1200px;
            height: 100px;
            padding: 19px 0;
            display: flex;
            > li:nth-child(1) {
                background: url(../images/home-footer-jinglingtu01.png) 0 0 no-repeat;
            }
            > li:nth-child(2) {
                background: url(../images/home-footer-jinglingtu01.png) 0 -162px no-repeat;
            }
            > li:nth-child(3) {
                background: url(../images/home-footer-jinglingtu01.png) 0 -242px no-repeat;
            }
            > li:nth-child(4) {
                background: url(../images/home-footer-jinglingtu01.png) 0 -82px no-repeat;
            }
            > li:nth-child(5) {
                background: url(../images/home-footer-jinglingtu01.png) 0 -322px no-repeat;
            }
            > li:nth-child(6) {
                background: url(../images/home-footer-jinglingtu01.png) 0 -402px no-repeat;
            }
            .item {
                width: 200px;
                height: 62px;
                padding-left: 72px;
                font-size: 18px;
                line-height: 62px;
                font-weight: 600;
                color: #444;
                transition: all 0.6s;
                &:hover {
                    margin-top: -5px;
                    color: #ed4044;
                }
            }
        }
        .text {
            width: 1200px;
            height: 178px;
            padding: 25px 0;
            margin: 0 auto;
            display: flex;
            .img {
                display: flex;
                width: 371px;
                height: 132px;
                margin-right: 40px;
                img {
                    width: 105px;
                    height: 99px;
                    margin-top: 5px;
                }
                ul {
                    margin-left: 30px;
                    .li-1 {
                        font-size: 14px;
                        color: #444;
                    }
                    .li-2 {
                        font-size: 20px;
                        color: #666;
                        margin: 15px 0;
                        span {
                            font-size: 12px;
                            color: #666;
                            margin-left: 5px;
                        }
                    }
                    .li-3 {
                        font-size: 20px;
                        color: #666;
                    }
                    .li-4 {
                        font-size: 12px;
                        color: #444;
                        margin-top: 15px;
                    }
                }
            }
            .one {
                display: flex;
                .dl-1,
                .dl-2 {
                    width: 76px;
                    height: 106px;
                    margin: 0 40px;
                    font-size: 14px;
                    dt {
                        color: #666;
                        margin-bottom: 20px;
                        font-weight: 600;
                    }
                    dd {
                        margin: 3px 0;
                        color: #444;
                        &:hover{
                            color: #ed4044;
                        }
                    }
                }
            }
            .two {
                font-size: 12px;
                color: #000;
                display: flex;
                .ma1 {
                    margin: 0 40px;
                    p {
                        text-align: center;
                    }
                    img {
                        width: 92px;
                        height: 92px;
                        margin-top: 10px;
                    }
                }
                .ma2 {
                    margin-left: 163px;
                }
            }
        }
        .x-s {
            width: 1200px;
            margin: 0 auto;
            height: 40px;
            margin-top: 20px;
            font-size: 12px;
            color: #999;
            display: flex;
            justify-content: center;
            li {
                display: flex;
                justify-content: flex-start;
                align-self: center;
                margin: 0 15px 10px 0;
                &:hover{
                    color: #ed4044;
                }
                img {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                }
            }
        }
        .s-m {
            width: 1200px;
            height: 30px;
            margin-top: 20px;
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
           
        }
        .ftc {
            width: 1200px;
            margin: 0 auto;
            padding: 20px 0 40px 0;
            font-size: 12px;
            color: #000;
            text-align: center;
            a {
                color: #000;
            }
        }
    }
}
